.env
llava_experiments/__pycache__/prompts.cpython-310.pyc
llama_experiments/__pycache__/prompts.cpython-310.pyc
llama_experiments/logs/cot.log
llava_experiments/logs/cot.log
llava_experiments/__pycache__/prompts.cpython-310.pyc
internvl_ft/pretrained/InternVL2_5-8B
internvl_ft/internvl_chat/work_dirs/internvl_chat_v2_5/internvl2_5_8b_dynamic_res_2nd_finetune_lora_mmsd2
internvl_ft/internvl_chat/work_dirs/internvl_chat_v2_5/internvl2_5_8b_dynamic_res_2nd_finetune_lora_mmsd2_merge
mllm_finetune/idefics_9B_MMSD_outputs_merged
mllm_finetune/idefics2_9B_mmsd2_outputs
mllm_finetune/llama32_11b_mmsd2_outputs
mllm_finetune/llama32_11b_mmsd2_outputs_merged
mllm_finetune/llava15_7B_mmsd2_outputs
mllm_finetune/llava15_7B_mmsd2_outputs_merged
mllm_finetune/llava16_mistral_7B_mmsd2_outputs
mllm_finetune/llava16_mistral_7B_mmsd2_outputs_merged
mllm_finetune/llava16_vicuna_7B_mmsd2_outputs
mllm_finetune/llava16_vicuna_7B_mmsd2_outputs_merged
mllm_finetune/unsloth_compiled_cache
mv_clip/mv_clip_lvlm/output_dir/MV_CLIP/model.pt
mv_clip/mv_clip_mmsd/output_dir/MV_CLIP/model.pt

